h1 {
    color: red;
}

li {
    list-style-type: none;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

.special {
    color: pink;
    font-weight: bold;
}

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}

a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: none;
}
