h1 {
    color: red;
}

li {
    list-style-type: none;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

.special {
    color: orange;
    font-weight: bold;
}

a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}
