body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}

ul {
    border-style: solid;
    background-color: gainsboro;
    border-width: 5px;
    border-color: purple;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email:link {
    color: green;
    text-decoration: none;
}
